body, html {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(135deg, #e5f0f6, #91b2e8);
    overflow: hidden;
}

.hospital-select{
    font-size: xx-large;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    align-items: center;
}

.content {
    color: azure;
    background-color: rgb(39, 37, 37);
    border-radius: 8px;
    padding: 20px;
    width: calc(100% - 40px); 
    max-width: 1000px; 
    margin: 0 auto; 
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ddd;
}

.hospital-select {
    margin-top: 10px;
    text-align: center;
}

.hospital-select label {
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.hospital-select select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
}
header{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about-section {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    font-family: cursive;
}

.about-section h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
img{
    border: 2px solid rgb(53, 49, 49);
    margin:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.image-container{
    text-align: center;
}